@media (max-width: 600px) {
    .header, .sidebar, .content {
        flex-direction: column;  
        align-items: center;   
    }
    .header img, .sidebar img, .content img {
        max-width: 90%; 
        height: auto; 
    }
    .text, .name {
        font-size: 14px; 
    }
    .form-container input, .form-container button {
        width: 90%; 
        margin-bottom: 10px; 
    }
    .pictures, .images {
        flex-direction: column; 
    }
}
button {
    padding: 10px; 
    width: 100%; 
}


body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 19vh;
    margin: 0;
}

.header{
    width: 120vw;
    height: 19vh;
    background-color: rgb(255, 255, 255);
    margin-left: -5vw;
    padding: 0;
    display: flex;
    border-bottom:1px solid gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .plane img{
    width: 13vw;
    height: auto;
    margin-left: 7vw;
    margin-top: 1vh;
}

.header .KWA img{
    width: 13vw;
    margin-top: 2vh;
    border-radius: 20px;
    margin-left: 2vw;
}
.header .world img{
    width: 12vw;
    margin-left: 5vw;
}

.header .name{
    display: flex;
    align-items: center;
    margin-left: 6vw;
    margin-bottom: 5vh;
    font-size: 2.3vw;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    margin-top: -5vh;
}

.header .name #K{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    height: 9vh;
    border-radius: 7px;
}

.header .name #K h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
    
}

.header .name #O{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    height: 9vh;
    border-radius: 7px;
    
}

.header .name #O h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.header .name #O2{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    height: 9vh;
    border-radius: 7px;
}

.header .name #O2 h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.header .name #M{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3.2vw;
    height: 9vh;
    border-radius: 7px;
}

.header .name #M h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.header .name #S{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    height: 9vh;
    border-radius: 7px;
}

.header .name #S h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.header .name #O3{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    height: 9vh;
    border-radius: 7px;
}

.header .name #O3 h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}

.header .name #N{
    margin-left: 20px;
    background-color: orangered;
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    height: 9vh;
    border-radius: 7px;
}

.header .name #N h4{
    margin-top: 0.7vh;
    display: flex;
    justify-content: center;
}


.header .text{
    display: flex;
    margin-top: 12vh;
    margin-left: -11vw;
    font-family: 'Dancing Script', cursive;
    color: #d23669;
    font-size: larger;
}

.header .text #Home{
    cursor: pointer;
}

.header .text #Contact{
    margin-left: 35px;
    cursor: pointer;
}

.header .text #About{
    margin-left: 35px;
    cursor: pointer;
}

.header .text #Help{
    margin-left: 35px;
    cursor: pointer;
}

.header .text #SignIn{
    margin-left: 35px;
    cursor: pointer;
}


.sidebar{
    border-right: 1px solid rgb(210, 210, 210);
    width: 13vw;  
    position: fixed; 
    top: 19vh; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.sidebar img{
    color: rgb(210, 210, 210);
}


.sidebar .firstset{
    border-bottom: 1px solid rgb(210, 210, 210) ;
}

.sidebar  p{
    margin-left: 3vw;
    margin-top: -2.7vh;
    font-size: 0.8em;

}

.sidebar  img{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 1.3vw;
}

.sidebar .secondset{
    border-bottom: 1px solid rgb(210, 210, 210);   
}

.sidebar .thirdset{
    border-bottom: 1px solid rgb(210, 210, 210) ;
}

.sidebar .fourthset{
    height: 100vh;
    margin-top: 1vh;
}

.sidebar .fourthset p{
    margin-top: -2.7vh;
}

.underline{
    color: black;
    transition: color 0.3s ease;
    text-decoration: none;
}


.underline:hover{
    color: orangered;
}


.content{
    
    justify-content: left;
    align-items: center;
    margin-left: 22vw;
}

.content .first{
    font-size: 1.4vw;
    
}

.content .first p{
    font-family: Arial, Helvetica, sans-serif;
}
.styled-select {
    position: relative;
    width: 41vw;
    font-size: 16px;
    color: #333;
    display: flex;
    font-size: 1.2rem;
}
.styled-select select {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background: #f3f3f3;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: border-color 0.3s ease;
}

.styled-select::after {
   
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #aaa;
    font-size: 12px;
}
.styled-select select:hover {
    border-color: orangered;
    box-shadow: 0 0 5px rgb(211, 88, 0);
}

.select2{
    margin-left: 1vw;
}


.form-container {
    padding: 1vh;
    margin-top: 2vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
   
}

.first p{
    font-size: 2.5rem;
}


.form-container input[type="text"],
.form-container input[type="date"] {
    padding: 15px;
    border: transparent;
    background-color: #f3f3f3;
    border-radius: 7px;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
    font-size: 1.2rem;
}

.form-container input[type="text"]:hover,
.form-container input[type="date"]:hover{
    border-color: orangered;
}

.form-container button{
    padding: 1.4vh 3vw;
    border: none;
    border-radius: 25px;
    background-color: orangered;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.form-container button:hover {
    background-color: #e64a19;
}

.second{
    margin-top: 1vh;
    display: flex;
   
}



.second .big-deals{
    margin-top: 4vh;
    background-color: transparent;
    width: 23vw;
    height: 17vh;
    display: flex;
    border-radius: 23px;
    border: 1px solid rgb(210, 210, 210);
}


.second .big-deals h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}

.second .filter{
    margin-top: 4vh;
    background-color: transparent;
    border: 1px solid rgb(210, 210, 210);
    width: 23vw;
    height: 17vh;
    display: flex;
    border-radius: 23px;
    margin-left: 1vw;
}



.second .filter h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}

.second .track-prices{
    margin-top: 4vh;
    background-color: transparent;
    width: 23vw;
    height: 17vh;
    display: flex;
    border-radius: 23px;
    margin-left: 1vw;
    border: 1px solid rgb(210, 210, 210);
}


.second .track-prices h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}


.third p{
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 8vh
}

.content .third .map img{
    width: 40vw;
    height: auto;
    border-radius: 5px;
}

.content .third .location .first-location{
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.content .third .location{
    margin-left: 41vw;
    margin-top: -52vh;
}

.content .third .location .first-location img{
    width: 6vw;
    height: auto;
    margin-left: 1vw;
    border-radius: 6px;
}

.content .third .location .first-location .text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.content .third .location .first-location .text-container p{
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    padding: 2px;
}

.content .third .location .second-location{
    margin: 3px;
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.content .third .location .second-location img{
    width: 6vw;
    height: auto;
    margin-left: 1vw;
    border-radius: 6px;
}

.content .third .location .second-location .text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.content .third .location .second-location .text-container p{
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    padding: 2px;
}

.content .third .location .third-location{
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.content .third .location .third-location img{
    width: 6vw;
    height: 8vh;
    margin-left: 1vw;
    border-radius: 6px;
}

.content .third .location .third-location .text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.content .third .location .third-location .text-container p{
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    padding: 2px;
}

.content .third .location .fourth-location{
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.content .third .location .fourth-location img{
    width: 6vw;
    height: 8vh;
    margin-left: 1vw;
    border-radius: 6px;
}

.content .third .location .fourth-location .text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.content .third .location .fourth-location .text-container p{
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    padding: 2px;
}

.content .third .location .fifth-location{
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.content .third .location .fifth-location img{
    width: 6vw;
    height: 8vh;
    margin-left: 1vw;
    border-radius: 6px;
}

.content .third .location .fifth-location .text-container{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.content .third .location .fifth-location .text-container p{
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    padding: 2px;
}

.fourth{
    margin-top: 8vh;

}

.fourth img{
    width: 75vw;
    height: auto;
    border-radius: 15px;
}

.fourth .pride-destination{
    width: 20vw;
    background-color: white;
    margin-top: -30vh;
    position: absolute;
    padding: 2vh;
    margin-left: 2vw;
    border-radius: 5px;
    cursor: pointer;
}    

.fourth .pride-destination button{
    font-size: 0.9em;
    background-color: #5a5a5a;
    color: white;
    padding: 0.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fourth .pride-destination .affordable{
    font-size: 20px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.fourth .pride-destination .txt{
    font-family: 'Roboto', 'Helvatica', 'Arial', sans-serif;
    font-size: 15px;
}

.content .fifth{
    width: 75vw;
    height: 20vh;
    border:1px solid rgb(210, 210, 210);
    margin-top: 5vh;
    display: flex;
    border-radius: 9px;
}

.content .fifth img{
    width: 10vw;
    margin-left: 3vw;
}

.content .fifth .email{
    margin-left: 2vw;
}

.content .fifth .receive{
    font-size: 30px;
    font-family: 'Roboto', 'Helvatica', 'Arial', sans-serif;
}

.content .fifth .text{
    font-family: 'Roboto', 'Helvatica', 'Arial', sans-serif;
    font-size: 15px;
    margin-top: -2vh;
}

.content .fifth .email form input[type="email"]{
    font-size: 0.8em;
    width: 15vw;
    height: 3vh;
    border-radius:4px;
    border: 1px solid rgb(210, 210, 210);
    cursor: pointer;
}

.content .fifth .email form button{
    width: 6vw;
    height: 3vh;
    margin-left: 0.6vw;
    border: none;
    color: #8e8f8f;
    background-color: #babcbf;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
}

.content .sixth{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9vh;
}

.content .sixth .text{
    font-family: Arial, Helvetica, sans-serif; 
}

.content .sixth .text .first-text{
    font-size: 1.3em;
    font-weight: bolder;
}

.second-text{
    font-size: 15px;
    margin-top: -1vh;
}

.content .sixth .pictures{
    margin-top: 5vh;
    display: flex;
}

.content .sixth .text .second-text

.content .sixth .pictures .first-picture{
    width: 35vw;
    height:55vh;
    
}

.content .sixth .pictures .first-picture img{
    width: 35vw;
    height: auto;
    border-radius: 12px;
}

.content .sixth .pictures .text1{
    font-weight: bolder;
    font-size: 15px;
}

.content .sixth .pictures .text2{
    font-size: 15px;
    margin-top: -0.6vh;
}


.content .sixth .pictures .second-picture{
    width: 35vw;
    height:55vh;
    margin-left: 3vw;
}

.content .sixth .pictures .second-picture img{
    width: 35vw;
    height: 43.5vh;
    border-radius: 12px;
}

.content .sixth .pictures .text1{
    font-weight: bolder;
    font-size: 15px;
}

.content .sixth .pictures .text2{
    font-size: 15px;
    margin-top: -0.6vh;
}


.content .seventh{
    font-family: Arial, Helvetica, sans-serif;
}

.content .seventh .text .text1{
    font-weight: 700;
    font-size: 1.3em;
}

.content .seventh .text .text2{
    margin-top: -1vh;
}

.content .seventh .images{
    display: flex;
    flex-wrap: nowrap;
}

.content .seventh .images img{
    border-radius: 14px;
}

.content .seventh .images .image1 .text1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}



.content .seventh .images .image1 .text2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: -1vh;
}

.content .seventh .images .image1 img{
    width: 35vw;
}

.content .seventh .images .image2 {
    margin-left: 3vw;
}

.content .seventh .images .image2 img{
    
    width: 35vw;
}

.content .seventh .images .image2 .text1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.content .seventh .images .image2 .text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: -1vh;
    font-weight: 100;
}

.content .eighth{
    width: -50vw;
    height: 35vh;
    display: flex;
    margin-top: 4vh;
    margin-left: -9vw;
    border-top: 1px solid rgb(210, 210, 210);
}

.content .eighth p{
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    
}

.content .eighth .first-block{
    margin-left: 19vw;
}

.content .eighth .second-block{
    margin-left: 15vw;
}

.content .eighth .third-block{
    margin-left: 15vw;
}

.content .eighth .title{
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

footer {
    text-align: left;
    padding: 20px 0;
    background-color: white;
    color: white;
    display: flex;
    border-top: 1px solid rgb(210, 210, 210);
}

footer p{
    margin-left: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

footer .privacy{
    margin-left: 3vw;
    text-decoration: underline;
}


footer .terms-Conditions{
    margin-left: 3vw;
    text-decoration: underline;
}

footer .images{
    margin-left: 40vw;
}

footer .images img{
    margin-left: 1vw;
}